<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
	<meta charset="utf-8">
	<title>Fibologic Technology Pvt. Ltd.</title>
	<meta name="description" content="Fibologic Technology Pvt Ltd">
	<meta name="author" content="Fibologic">

	<!-- Mobile Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Favicon -->
	<link rel="shortcut icon" href="images/Logo.ico">

	<!-- Web Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic'
		rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Raleway:700,400,300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

	<!-- Bootstrap core CSS -->
	<link href="bootstrap/css/bootstrap.css" rel="stylesheet">

	<!-- Font Awesome CSS -->
	<link href="fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

	<!-- Fontello CSS -->
	<link href="fonts/fontello/css/fontello.css" rel="stylesheet">

	<!-- themify CSS -->
	<link href="themify-icons/themify-icons.css" rel="stylesheet">

	<!-- Plugins -->
	<link href="plugins/magnific-popup/magnific-popup.css" rel="stylesheet">
	<link href="plugins/rs-plugin/css/settings.css" rel="stylesheet">
	<link href="css/animations.css" rel="stylesheet">
	<link href="plugins/owl-carousel/owl.carousel.css" rel="stylesheet">
	<link href="plugins/owl-carousel/owl.transitions.css" rel="stylesheet">
	<link href="plugins/hover/hover-min.css" rel="stylesheet">

	<!-- the project core CSS file -->
	<link href="css/style.css" rel="stylesheet">

	<!-- Color Scheme (In order to change the color scheme, replace the blue.css with the color scheme that you prefer)-->
	<link href="css/skins/light_blue.css" rel="stylesheet">

	<!-- Custom css -->
	<link href="css/custom.css" rel="stylesheet">
</head>

<!-- body classes:  -->
<!-- "boxed": boxed layout mode e.g. <body class="boxed"> -->
<!-- "pattern-1 ... pattern-9": background patterns for boxed layout mode e.g. <body class="boxed pattern-1"> -->
<!-- "transparent-header": makes the header transparent and pulls the banner to top -->
<!-- "page-loader-1 ... page-loader-6": add a page loader to the page (more info @components-page-loaders.html) -->

<body id="home" class="no-trans front-page transparent-header" ng-app="fiboApp" ng-controller="mainController">

	<!-- scrollToTop -->
	<!-- ================ -->
	<div class="scrollToTop circle">
		<i class="icon-up-open-big"></i>
	</div>

	<!-- page wrapper start -->
	<!-- ================ -->
	<div class="page-wrapper">

		<!-- header-container start -->
		<div class="header-container">
			<header class="header  fixed dark  clearfix">
				<div class="container">
					<div class="row">
						<div class="col-md-3">
							<div class="header-left clearfix">
								<div id="logo" class="logo-font-modified-very-small">
									{{title}}</div>
								<div class="site-slogan">Look Beyond Ordinary</div>
							</div>
						</div>
						<div class="col-md-9">
							<div class="header-right clearfix">
								<div class="main-navigation  animated with-dropdown-buttons">
									<nav class="navbar navbar-default" role="navigation">
										<div class="container-fluid">
											<div class="navbar-header">
												<button type="button" class="navbar-toggle" data-toggle="collapse"
													data-target="#navbar-collapse-1">
													<span class="sr-only">Toggle navigation</span> <span
														class="icon-bar"></span> <span class="icon-bar"></span> <span
														class="icon-bar"></span>
												</button>

											</div>
											<div class="collapse navbar-collapse" id="navbar-collapse-1">
												<!-- main-menu -->
												<ul class="nav navbar-nav navbar-right">
													<li><a class="page-scroll smooth-scroll " href="#home">Home</a>

													</li>
													<li><a class="page-scroll smooth-scroll " href="#about">About Us</a>
													</li>
													<li><a class="page-scroll smooth-scroll"
															href="#portfolio">Portfolio</a></li>
													<li><a class="page-scroll smooth-scroll "
															href="#features">Features</a></li>
													<!-- <li><a class="page-scroll smooth-scroll" href="#whyUs">Why Us?</a></li>		 -->
													<li><a class="page-scroll smooth-scroll" href="#contact">Contact
															Us</a></li>
												</ul>

											</div>

										</div>
									</nav>
									<!-- navbar end -->

								</div>
								<!-- main-navigation end -->
							</div>
							<!-- header-right end -->

						</div>
					</div>
				</div>

			</header>
			<!-- header end -->
		</div>
		<!-- header-container end -->

		<!-- banner start -->
		<!-- ================ -->
		<div class="banner clearfix">

			<!-- slideshow start -->
			<!-- ================ -->
			<div class="slideshow">

				<!-- slider revolution start -->
				<!-- ================ -->
				<div class="slider-banner-container">
					<div class="slider-banner-fullscreen">
						<ul class="slides">
							<!-- slide 1 start -->
							<!-- ================ -->
							<li data-transition="random" data-slotamount="7" data-masterspeed="500"
								data-saveperformance="on" data-title="Fibologic Values">
								<!-- main image --> <img src="images/portfolio-slider-slide-1.jpg" alt="slidebg1"
									data-bgposition="center top" data-bgrepeat="no-repeat" data-bgfit="cover">
								<!-- Transparent Background -->
								<div class="tp-caption dark-translucent-bg" data-x="center" data-y="bottom"
									data-speed="500" data-easing="easeOutQuad" data-start="0"></div>
								<!-- LAYER NR. 1 -->
								<div class="tp-caption sfr stl large_white" data-x="center" data-y="70" data-speed="200"
									data-easing="easeOutQuad" data-start="1000" data-end="3000" data-splitin="chars"
									data-elementdelay="0.1" data-endelementdelay="0.1" data-splitout="chars">Closer to
									Customers</div> <!-- LAYER NR. 2 -->
								<div class="tp-caption sfl str large_white" data-x="center" data-y="70" data-speed="200"
									data-easing="easeOutQuad" data-start="3500" data-end="6000" data-splitin="chars"
									data-elementdelay="0.1" data-endelementdelay="0.1" data-splitout="chars">Closer to
									Design</div> <!-- LAYER NR. 3 -->
								<div class="tp-caption sfr stt large_white" data-x="center" data-y="70" data-speed="200"
									data-easing="easeOutQuad" data-start="6500" data-end="9500" data-splitin="chars"
									data-elementdelay="0.1" data-endelementdelay="0.1" data-splitout="chars"
									data-endspeed="400">Closer to Value</div>
								<div class="tp-caption ZoomIn fadeout text-center tp-resizeme large_white"
									data-x="center" data-y="150" data-speed="500" data-easing="easeOutQuad"
									data-start="1000" data-end="9500">
									<div class="separator light"></div>
								</div> <!-- LAYER NR. 5 -->
								<div class="tp-caption sfr fadeout" data-x="center" data-y="210" data-hoffset="-232"
									data-speed="500" data-easing="easeOutQuad" data-start="1000" data-end="9500">
									<span class="icon large circle"><i class="fa fa-user"></i></span>
								</div> <!-- LAYER NR. 6 -->
								<div class="tp-caption sfl fadeout" data-x="center" data-y="210" data-speed="500"
									data-easing="easeOutQuad" data-start="4000" data-end="9500">
									<span class="icon large circle"><i class="fa fa-connectdevelop"></i></span>
								</div> <!-- LAYER NR. 7 -->
								<div class="tp-caption sfr fadeout" data-x="center" data-y="210" data-hoffset="232"
									data-speed="500" data-easing="easeOutQuad" data-start="7000" data-end="9500">
									<span class="icon large circle"><i class="fa fa-diamond"></i></span>
								</div> <!-- LAYER NR. 8 -->
								<div class="tp-caption fade fadeout" data-x="center" data-y="400" data-voffset="100"
									data-speed="500" data-easing="easeOutQuad" data-start="2000" data-end="10000"
									data-endspeed="200">
									<a href="#problem" class="btn btn-lg moving smooth-scroll">

										<i class="icon-down-open-big"></i> <i class="icon-down-open-big"></i> <i
											class="icon-down-open-big"></i>

									</a>
								</div>
							</li>
							<!-- slide 1 end -->

							<!-- slide 2 start -->
							<!-- ================ -->
							<li data-transition="random" data-slotamount="7" data-masterspeed="500"
								data-saveperformance="on" data-title="Fibologic ">
								<!-- main image --> <img src="images/portfolio-slider-slide-2.jpg" alt="slidebg1"
									data-bgposition="center top" data-bgrepeat="no-repeat" data-bgfit="cover">
								<!-- Transparent Background -->
								<div class="tp-caption dark-translucent-bg" data-x="center" data-y="bottom"
									data-speed="500" data-easing="easeOutQuad" data-start="0"></div>
								<!-- LAYER NR. 1 -->
								<div class="tp-caption sft fadeout text-center large_white " data-x="center" data-y="70"
									data-speed="500" data-easing="easeOutQuad" data-start="1000" data-end="10000">
									<span class="logo-font"><span class="logo-font-modified">Fibologic
											!</span></span> <br>
									<div class="site-slogan-big">Look Beyond Ordinary</div>
								</div> <!-- LAYER NR. 2 -->
								<div class="tp-caption ZoomIn fadeout text-center tp-resizeme large_white"
									data-x="center" data-y="210" data-speed="00" data-easing="easeOutQuad"
									data-start="2000" data-end="10000">
									<div class="separator light"></div>
								</div> <!-- LAYER NR. 3 -->
								<div class="tp-caption sft fadeout site-slogan-big text-center" data-x="center"
									data-y="300" data-speed="500" data-easing="easeOutQuad" data-start="1000"
									data-end="10000" data-endspeed="600">
									FiboLogic is dedicated to help its customers live
									intelligently <br><br><br>by providing simple technology <br><br><br>
									for a smarter life.
								</div> <!-- LAYER NR. 4 -->
								<div class="tp-caption fade fadeout" data-x="center" data-y="400" data-voffset="100"
									data-speed="500" data-easing="easeOutQuad" data-start="2000" data-end="10000"
									data-endspeed="200">
									<a href="#problem" class="btn btn-lg moving smooth-scroll"><i
											class="icon-down-open-big"></i><i class="icon-down-open-big"></i><i
											class="icon-down-open-big"></i></a>
								</div>
							</li>
							<!-- slide 2 end -->

							<!-- slide 3 start -->
							<!-- ================ -->
							<li data-transition="random" data-slotamount="7" data-masterspeed="500"
								data-saveperformance="on" data-title="Fibologic Benifits">
								<!-- main image --> <img src="images/portfolio-slider-slide-3.jpg" alt="slidebg2"
									data-bgposition="center top" data-bgrepeat="no-repeat" data-bgfit="cover">
								<!-- Transparent Background -->
								<div class="tp-caption dark-translucent-bg" data-x="center" data-y="bottom"
									data-speed="500" data-easing="easeOutQuad" data-start="0"></div>
								<!-- LAYER NR. 1 -->

								<div class="tp-caption sfb fadeout text-left medium_white" data-x="300" data-y="40"
									data-speed="500" data-start="1300" data-easing="easeOutQuad" data-endspeed="600"
									style="color: white;">
									<span class="icon default-bg circle small "><i class="fa fa-hand-o-up"></i></span>
									Touch Based IR Switches
								</div> <!-- LAYER NR. 3 -->
								<div class="tp-caption sfb fadeout text-left medium_white" data-x="300" data-y="180"
									data-speed="500" data-start="1600" data-easing="easeOutQuad" data-endspeed="600">
									<span class="icon default-bg circle small "><i class="fa fa-cogs"></i></span> Fully
									Customizable
								</div> <!-- LAYER NR. 4 -->
								<div class="tp-caption sfb fadeout text-left medium_white" data-x="300" data-y="320"
									data-speed="500" data-start="1900" data-easing="easeOutQuad" data-endspeed="600">
									<span class="icon default-bg circle small "><i class="fa fa-usb"></i></span> Inbuild
									USB Source

								</div> <!-- LAYER NR. 5 -->
								<div class="tp-caption sfb fadeout text-left medium_white" data-x="300" data-y="460"
									data-speed="500" data-start="2200" data-easing="easeOutQuad" data-endspeed="600">
									<span class="icon default-bg circle small "><i
											class="fa fa-shopping-bag "></i></span> Packed Full of Features

								</div> <!-- LAYER NR. 6 -->
								<!-- <div class="tp-caption sfb fadeout small_white" data-x="300"
									data-y="520" data-speed="750" data-start="2500"
									data-easing="easeOutQuad" data-endspeed="600">
									<a href="#problem"
										class="btn btn-default-transparent btn-md btn-animated smooth-scroll">Tell
										Me More <i class="icon-down-open-big"></i>
									</a>
								</div> -->

							</li>
							<!-- slide 3 end -->
						</ul>
						<div class="tp-bannertimer"></div>
					</div>
				</div>
				<!-- slider revolution end -->

			</div>
			<!-- slideshow end -->

		</div>
		<!-- banner end -->



		<section id="problem" class="light-gray-bg pv-30">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<h2 class="text-center">
							We <i class="fa fa-heart text-default"></i> to Solve Problem
						</h2>
					</div>
				</div>
				<div class="banner dark-translucent-bg"
					style="background-image: url('images/page-portfolio-banner.jpg'); background-position: 50% 21%;">
					<div class="container">
						<div class="row">
							<div class="col-md-8 text-center col-md-offset-2 pv-20">
								<h2 class="title object-non-visible" data-animation-effect="fadeIn"
									data-effect-delay="100">Plain
									old Tic Tack switches</h2>
								<div class="separator object-non-visible mt-10" data-animation-effect="fadeIn"
									data-effect-delay="100"></div>
								<p class="text-center object-non-visible" data-animation-effect="fadeIn"
									data-effect-delay="100"></p>
								<a href="#about"
									class="text-center btn btn-default-transparent btn-default-transparent-white btn-md btn-animated smooth-scroll">
									Want to cutomize your Home?<i class="icon-home"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="separator clearfix"></div>
				<div class="row special-feature special-feature-small ">
					<div class="col-md-3 col-sm-6 col-xs-3 margin-b-20">
						<div class="s-feature-box s-feature-box-small text-center wow animated fadeIn bordered shadow "
							data-wow-duration="700ms" data-wow-delay="200ms">
							<div class="mask-top">
								<!-- Icon -->
								<i class="fa fa-exclamation-triangle fa-stack-1x fa-inverse"></i>
								<!-- Title -->
								<h4>Lack of Intuition</h4>
							</div>
							<div class="mask-bottom">
								<!-- Icon -->
								<i class="fa fa-exclamation-triangle fa-stack-1x fa-inverse"></i>
								<!-- Title -->
								<h4>Lack of Intuition</h4>
								<!-- Text -->
								<p>No indication is available for specifying which button is
									for light or fan.</p>
							</div>
						</div>

					</div>
					<!--services col-->

					<div class="col-md-3 col-sm-6 col-xs-3 margin-b-20">
						<div class="s-feature-box  s-feature-box-small text-center wow animated fadeIn bordered shadow "
							data-wow-duration="700ms" data-wow-delay="400ms">
							<div class="mask-top">
								<!-- Icon -->
								<i class="fa fa-hand-o-up fa-stack-1x fa-inverse"></i>
								<!-- Title -->
								<h4>Manual Handling</h4>
							</div>
							<div class="mask-bottom">
								<!-- Icon -->
								<i class="fa fa-hand-o-up fa-stack-1x fa-inverse"></i>
								<!-- Title -->
								<h4>Manual Handling</h4>
								<!-- Text -->
								<p>Switches needs to be handled manually. No automation.</p>
							</div>
						</div>
					</div>
					<!--services col-->
					<div class="col-md-3 col-sm-6 col-xs-3 margin-b-20">
						<div class="s-feature-box s-feature-box-small text-center wow animated fadeIn bordered shadow "
							data-wow-duration="700ms" data-wow-delay="500ms">
							<div class="mask-top">
								<!-- Icon -->
								<!--   <i class="ti-gift"></i> -->
								<i class="fa fa-frown-o fa-stack-1x fa-inverse"></i>
								<!-- Title -->
								<h4>Something new is required</h4>
							</div>
							<div class="mask-bottom">
								<!-- Icon -->
								<!-- <i class="ti-gift"></i> -->
								<i class="fa fa-frown-o fa-stack-1x fa-inverse"></i>
								<!-- Title -->
								<h4>Something new is required</h4>
								<!-- Text -->
								<p>Plain old switches are what we are using for years, even
									it's neither attractive nor fun using it.</p>
							</div>
						</div>
					</div>
					<!--services col-->
					<div class="col-md-3 col-sm-6 col-xs-3 margin-b-20">
						<div class="s-feature-box s-feature-box-small text-center wow animated fadeIn bordered shadow "
							data-wow-duration="700ms" data-wow-delay="500ms">
							<div class="mask-top">
								<!-- Icon -->
								<!--   <i class="ti-gift"></i> -->
								<i class="fa fa-frown-o fa-stack-1x fa-inverse"></i>
								<!-- Title -->
								<h4>No Looks, No Fun</h4>
							</div>
							<div class="mask-bottom">
								<!-- Icon -->
								<!-- <i class="ti-gift"></i> -->
								<i class="fa fa-frown-o fa-stack-1x fa-inverse"></i>
								<!-- Title -->
								<h4>No Looks, No Fun</h4>
								<!-- Text -->
								<p>Plain old switches are what we are using for years, even
									it's neither attractive nor fun using it.</p>
							</div>
						</div>
					</div>
					<!--services col-->
				</div>
				<!--service row end-->

			</div>
		</section>

		<div id="page-start"></div>
		<div class="light-bg  default-hovered bordered  footer-top animated-text">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="call-to-action text-center">
							<div class="row">
								<div class="col-sm-8">
									<h2>We Offer More Possibilities T0 Meet Your Every Need</h2>
									<h2>Waste no more time</h2>
								</div>
								<div class="col-sm-4">
									<p class="mt-10">
										<a href="#about"
											class="btn btn-animated btn-lg btn-gray-transparent smooth-scroll ">Learn
											More<i class="icon-home pl-20"></i>
										</a>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<section id="about" class="main-container">
			<div class="banner dark-translucent-bg"
				style="background-image: url('images/page-about-banner-1.jpg'); background-position: 50% 27%;">
				<div class="container">
					<div class="row">
						<div class="col-md-8 text-center col-md-offset-2 pv-20">
							<h3 class="title logo-font object-non-visible text-center" data-animation-effect="fadeIn"
								data-effect-delay="100">
								<span class="logo-font-modified-small-white">Fibologic
									Technology Pvt. Ltd.</span>
							</h3>
							<div class="separator object-non-visible mt-10" data-animation-effect="fadeIn"
								data-effect-delay="100"></div>
							<p class="text-center object-non-visible" data-animation-effect="fadeIn"
								data-effect-delay="100">
								FiboLogic is dedicated to helping its customers live
								intelligently <br>by providing simple technology <br>
								for a smarter life. <br> <a href="#whoWeAre" class="btn btn-lg moving smooth-scroll"> <i
										class=" icon-down"></i>
								</a>
						</div>
					</div>
				</div>
			</div>
			<div class="separator clearfix"></div>
			<div class="container">
				<div class="row">

					<!-- main start -->
					<!-- ================ -->
					<div id="whoWeAre" class="main col-md-12">
						<h2 class="title text-center">
							<span class="text-muted">Who</span> <span class="text-default">We
								Are</span>
						</h2>
						<h4 class="text-dark text-center">"Only way to do great work
							is to love what you do.”</h4>
						<div class="small small-quote text-center">- Steve Jobs</div>
						<div class="text-center separator"></div>
						<section class="full-width-section" style="font-family: 'Raleway', sans-serif;">
							<div class="full-image-container default-bg border-bottom-clear">
								<img class="to-right-block" src="images/Aboutus2.jpg" alt="">
								<div class="full-image-overlay text-right">
									<h3>Features</h3>
									<ul class="list-icons">
										<li>Touch Bsed IR Switches <i class="icon-check-1"></i></li>
										<li>Beautiful 4 Speed Fan Design <i class="icon-check-1"></i></li>
										<li>Multiple Handcrafted Designs <i class="icon-check-1"></i></li>
										<li>Unlimited options and variations <i class="icon-check-1"></i></li>
										<li>We are here to support you <i class="icon-check-1"></i></li>
									</ul>
								</div>
							</div>

							<div class="full-text-container dark-bg border-bottom-clear">
								<!-- <h2>Let's Work Together</h2> -->
								<div class="separator-2 visible-lg"></div>

								<p>
									<strong>FiboLogic</strong> provides the most comprehensive
									range of solutions to meet todays need in residential,
									commercial buildings. FiboLogic helps customers to create
									sustainable, intelligent environments through its automated
									electrical touch switches.
								</p>
								<p>
									Sleek looking panels with trendy touch screen switches bring an aesthetic appeal
									meant for the millennial lifestyle.
									Our products ensures comfort and convenience to your life with unique features such
									as IR Operations, feather touch switching and personalised theams.

								</p>
								<p>
									Easily personalize your lighting experience using a screen that
									compliments the <strong>beauty</strong> of your home.
								</p>
								<p>
									Out products can be <strong>easily
										installed</strong> into existing homes, new homes or during
									renovations.
								</p>
								<div class="separator-2 visible-lg"></div>

							</div>
						</section>

						<section class="pv-30 dark-bg padding-bottom-clear clearfix">
							<br>
							<div class="container">
								<h2 class="title text-center">
									<span class="text-muted">OUR</span> <span class="text-default">
										MISSION</span>
								</h2>
								<br>
								<div class="row">
									<div class="col-md-4 ">
										<div class="ph-20 feature-box text-center object-non-visible"
											data-animation-effect="fadeInDownSmall" data-effect-delay="100">
											<span class="icon default-bg circle"><i class="fa fa-user"></i></span>
											<h4>Closer to Customer</h4>
											<div class="separator clearfix"></div>
											<p style="font-family: 'Raleway', sans-serif; color: white;">Commited
												to Rethink, Renew our Products, Strive for excellence in Customer
												Services</p>
										</div>
									</div>
									<div class="col-md-4 ">
										<div class="ph-20 feature-box text-center object-non-visible"
											data-animation-effect="fadeInDownSmall" data-effect-delay="100">
											<span class="icon default-bg circle"><i
													class="fa fa-connectdevelop"></i></span>
											<h4>Closer to Design</h4>
											<div class="separator clearfix"></div>
											<p style="font-family: 'Raleway', sans-serif; color: white;">Create
												Simple and Easy to use Design, backed up with Technology and
												Innovation.</p>
										</div>
									</div>
									<div class="col-md-4 ">
										<div class="ph-20 feature-box text-center object-non-visible"
											data-animation-effect="fadeInDownSmall" data-effect-delay="100">
											<span class="icon default-bg circle"><i class="fa fa-diamond"></i></span>
											<h4>Closer to Value</h4>
											<div class="separator clearfix"></div>
											<p style="font-family: 'Raleway', sans-serif; color: white;">Improve
												prospective customer's evaluation of the Benefits</p>

										</div>
									</div>
								</div>
							</div>
							<br>
						</section>
					</div>
				</div>
			</div>
		</section>
		<section id="portfolio" class="main-container">
			<div class="container">
				<div class="row">
					<div class="main col-md-12">
						<div class="row">
							<div class="col-md-8 col-md-offset-2 text-center">
								<h2 class="title">
									<span class="text-muted">Our</span> <span class="text-default">Art Work</span>
								</h2>
								<h4 class="text-dark text-center">"The Best way to get
									noticed, is to do a quality work."</h4>
								<div class="separator"></div>
							</div>
						</div>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-xs-6">
						<div class="shadow bordered">
							<div class="overlay-container">
								<img src="images/main-page/FIBOSB29.jpg" alt=""> <a href="images/main-page/FIBOSB29.jpg"
									class="overlay-link popup-img" title="FIBOSB29 : Techno Theme to go crazy ..."> <i
										class="fa fa-plus"></i>
								</a>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="shadow bordered">
							<div class="overlay-container">
								<img src="images/main-page/FIBOSB30.jpg" alt=""> <a href="images/main-page/FIBOSB30.jpg"
									class="overlay-link popup-img" title="FIBOSB30 : Elegent Tiger Print ..."> <i
										class="fa fa-plus"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-xs-6">
						<div class="shadow bordered">
							<div class="overlay-container">
								<img src="images/main-page/FIBOSB32.jpg" alt=""> <a href="images/main-page/FIBOSB32.jpg"
									class="overlay-link popup-img"
									title="FIBOSB32 : Royal Wood Design to match your funiture ..."> <i
										class="fa fa-plus"></i>
								</a>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="shadow bordered">
							<div class="overlay-container">
								<img src="images/main-page/FIBOSB31.jpg" alt=""> <a href="images/main-page/FIBOSB31.jpg"
									class="overlay-link popup-img" title="FIBOSB31 : Traditional Warli Design ..."> <i
										class="fa fa-plus"></i>
								</a>
							</div>
						</div>
					</div>

				</div>
				<br>
	<div class="row">
		<div class="col-xs-6">
			<div class="shadow bordered">
				<div class="overlay-container">
					<img src="images/main-page/FIBOSB19.jpg" alt=""> <a href="images/main-page/FIBOSB19.jpg"
						class="overlay-link popup-img" title="FIBOSB19 : I am The Iron Man ..."> <i
							class="fa fa-plus"></i>
					</a>
				</div>
			</div>
		</div>
		<div class="col-xs-6">
			<div class="shadow bordered">
				<div class="overlay-container">
					<img src="images/main-page/FIBOSB23.jpg" alt=""> <a href="images/main-page/FIBOSB23.jpg"
						class="overlay-link popup-img" title="FIBOSB23: Customized for your loved ones ...">
						<i class="fa fa-plus"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-xs-6">
			<div class="shadow bordered">
				<div class="overlay-container">
					<img src="images/main-page/FIBOSB24.jpg" alt=""> <a href="images/main-page/FIBOSB24.jpg"
						class="overlay-link popup-img" title="FIBOSB24 : For Your Dream ..."> <i class="fa fa-plus"></i>
					</a>
				</div>
			</div>
		</div>
		<div class="col-xs-6">
			<div class="shadow bordered">
				<div class="overlay-container">
					<img src="images/main-page/FIBOSB26.jpg" alt=""> <a href="images/main-page/FIBOSB26.jpg"
						class="overlay-link popup-img" title="FIBOSB26 : For the Explorer in you.."> <i
							class="fa fa-plus"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-xs-6">
			<div class="shadow bordered">
				<div class="overlay-container">
					<img src="images/main-page/FIBODB3.jpg" alt=""> <a href="images/main-page/FIBODB3.jpg"
						class="overlay-link popup-img" title="FIBODB3 : Dream Doorbell ..."> <i class="fa fa-plus"></i>
					</a>
				</div>
			</div>
		</div>
		<div class="col-xs-6">
			<div class="shadow bordered">
				<div class="overlay-container">
					<img src="images/main-page/FIBODB2.jpg" alt=""> <a href="images/main-page/FIBODB2.jpg"
						class="overlay-link popup-img" title="FIBODB2 : Can't get pefrect than this ..."> <i
							class="fa fa-plus"></i>
					</a>
				</div>
			</div>
		</div>

	</div>
	<!-- To be added with Yellow Theam Images-->
	<!-- <div class="row">
					<div class="col-xs-6">

						<div class="shadow bordered">
							<div class="overlay-container">
								<img src="images/4unit/yellow4.jpg" alt=""> <a
									href="images/4unit/yellow4.jpg" class="overlay-link popup-img"
									title="Wood Theme to Match your Furniture"> <i
									class="fa fa-plus"></i>
								</a>
							</div>
						</div>
						<div class="space-bottom"></div>
						<div class="row grid-space-20">
							<div class="col-xs-3">
								<div class="overlay-container">
									<img src="images/3unit/ywllow3.jpg" alt=""> <a
										href="images/3unit/yellow3.jpg"
										class="overlay-link small popup-img"
										title="Second image title"> <i class="fa fa-plus"></i>
									</a>
								</div>
							</div>
							<div class="col-xs-3">
								<div class="overlay-container">
									<img src="images/1unit/yellow1.jpg" alt=""> <a
										href="images/1unit/yellow1.jpg"
										class="overlay-link small popup-img" title="Third image title">
										<i class="fa fa-plus"></i>
									</a>
								</div>
							</div>
							<div class="col-xs-3">
								<div class="overlay-container">
									<img src="images/1unit/yellow1.jpg" alt=""> <a
										href="images/1unit/yellow1.jpg"
										class="overlay-link small popup-img"
										title="Fourth image title"> <i class="fa fa-plus"></i>
									</a>
								</div>
							</div>
							<div class="col-xs-3">
								<div class="overlay-container">
									<img src="images/1unit/yellow6.jpg" alt=""> <a
										href="images/1unit/yellow6.jpg"
										class="overlay-link small popup-img"
										title="Fourth image title"> <i class="fa fa-plus"></i>
									</a>
								</div>
							</div>
						</div>
					</div>

				</div> -->
			
	<div class="row">
		<div class="main col-md-12">
			<div class="row">
				<div class="separator"></div>
				<div class="col-md-8 col-md-offset-2 text-center">
					<h3>If you like this, you will love our personalised
						artwork.</h3>
					<div class="separator"></div>
					<a href="fiboPortfolio.html"
						class="btn btn-default-transparent btn-default-transparent-black btn-md btn-animated smooth-scroll">
						Show Me More <i class="icon-right-big"></i>
					</a>
					<div class="separator"></div>
				</div>
			</div>
		</div>
	</div>
	</section>

	<!--services section start-->
	<section id="features" class="light-gray-bg">
		<div class="container">
			<div class="col-md-8  col-md-offset-2">
				<h2 class="text-center">
					We <i class="fa fa-heart text-default"></i> What We Do
				</h2>
				<h4 class="text-dark text-center">"We are what we repeatedly
					do. Excellence, is not an act, but a habit."</h4>
				<div class="separator"></div>
			</div>

			<div class="row special-feature">
				<div class="col-md-3 col-sm-6 col-xs-6 margin-b-20">
					<div class="s-feature-box  text-center wow animated fadeIn bordered shadow "
						data-wow-duration="700ms" data-wow-delay="200ms">
						<div class="mask-top">
							<!-- Icon -->
							<i class="ti-mobile"></i>
							<!-- Title -->
							<h4>IR Switches</h4>
						</div>
						<div class="mask-bottom">
							<!-- Icon -->
							<i class="ti-mobile"></i>
							<!-- Title -->
							<h4>IR Switches</h4>
							<!-- Text -->
							<p>Rule Your Home with ease and confort with our IR based remote control.</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-6 margin-b-20">
					<div class="s-feature-box text-center wow animated fadeIn bordered shadow "
						data-wow-duration="700ms" data-wow-delay="200ms">
						<div class="mask-top">
							<!-- Icon -->
							<i class="ti-hand-point-up"></i>
							<!-- Title -->
							<h4>Feather Touch Switches</h4>
						</div>
						<div class="mask-bottom">
							<!-- Icon -->
							<i class="ti-hand-point-up"></i>
							<!-- Title -->
							<h4>Feather Touch Switches</h4>
							<!-- Text -->
							<p>Add comfort and convenience to your life with unique feather touch switching</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-6 margin-b-20">
					<div class="s-feature-box text-center wow animated fadeIn bordered shadow "
						data-wow-duration="700ms" data-wow-delay="200ms">
						<div class="mask-top">
							<!-- Icon -->
							<i class="fa fa-usb"></i>
							<!-- Title -->
							<h4>USB Source</h4>
						</div>
						<div class="mask-bottom">
							<!-- Icon -->
							<i class="fa fa-usb"></i>
							<!-- Title -->
							<h4>USB Source</h4>
							<!-- Text -->
							<p>Specifically designed USB source to prower your mobile, music system or any other device
								powered by USB.</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-6 margin-b-20">
					<div class="s-feature-box text-center wow animated fadeIn bordered shadow "
						data-wow-duration="700ms" data-wow-delay="200ms">
						<div class="mask-top">
							<!-- Icon -->
							<i class="ti-layout-menu-v"></i>
							<!-- Title -->
							<h4>Beautiful Fan Design</h4>
						</div>
						<div class="mask-bottom">
							<!-- Icon -->
							<i class="ti-layout-menu-v"></i>
							<!-- Title -->
							<h4>Beautiful Fan Design</h4>
							<!-- Text -->
							<p>Beautifully designed 4 speed bar display for fan regulator indicator. </p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-6 margin-b-20">
					<div class="s-feature-box text-center wow animated fadeIn bordered shadow "
						data-wow-duration="700ms" data-wow-delay="200ms">
						<div class="mask-top">
							<!-- Icon -->
							<i class="ti-panel"></i>
							<!-- Title -->
							<h4>Extremely Customizable</h4>
						</div>
						<div class="mask-bottom">
							<!-- Icon -->
							<i class="ti-panel"></i>
							<!-- Title -->
							<h4>Extremely Customizable</h4>
							<!-- Text -->
							<p>Everything from icons to switch placement, sizes to theams are fully customizables.</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-6 margin-b-20">
					<div class="s-feature-box text-center wow animated fadeIn bordered shadow "
						data-wow-duration="700ms" data-wow-delay="200ms">
						<div class="mask-top">
							<!-- Icon -->
							<i class="fa fa-cogs"></i>
							<!-- Title -->
							<h4>Easy for installation</h4>
						</div>
						<div class="mask-bottom">
							<!-- Icon -->
							<i class="fa fa-cogs"></i>
							<!-- Title -->
							<h4>Easy for installation</h4>
							<!-- Text -->
							<p>Out products can be easily
								installed into existing homes, new homes or during
								renovations with <strong>ZERO</strong> changes.</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-6 margin-b-20">
					<div class="s-feature-box text-center wow animated fadeIn bordered shadow "
						data-wow-duration="700ms" data-wow-delay="200ms">
						<div class="mask-top">
							<!-- Icon -->
							<i class="ti-palette"></i>
							<!-- Title -->
							<h4>Handcrafted Designs</h4>
						</div>
						<div class="mask-bottom">
							<!-- Icon -->
							<i class="ti-palette"></i>
							<!-- Title -->
							<h4>Handcrafted Designs</h4>
							<!-- Text -->
							<p>In a world where everything is becoming personalised, all our designs will reflect your
								personal identity.</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-6 margin-b-20">
					<div class="s-feature-box text-center wow animated fadeIn bordered shadow "
						data-wow-duration="700ms" data-wow-delay="200ms">
						<div class="mask-top">
							<!-- Icon -->
							<i class="ti-infinite"></i>
							<!-- Title -->
							<h4>Unlimited Layouts</h4>
						</div>
						<div class="mask-bottom">
							<!-- Icon -->
							<i class="ti-infinite"></i>
							<!-- Title -->
							<h4>Unlimited Layouts</h4>
							<!-- Text -->
							<p>We have hundreds of theams specialy designed for you. You can also create your own Theame
								and we will make it happen for you.</p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>
	<!--end services section-->

	<!-- section -->
	<!-- ================ -->
	<!-- <section id= "whyUs" class="pv-30">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<h2 class="text-center">Why <strong>Choose</strong> Us</h2>
							<h4 class="text-dark text-center">"<strong>Trust</strong> is a good business practice."</h4>
							<div class="separator"></div>
							<br>
						</div>
					</div>
				</div>
				<div class="owl-carousel content-slider-with-large-controls">
					<div class="container">
						<div class="row">
							<div class="col-md-6">
								<img src="images/section-image-1.png" alt="">
							</div>
							<div class="col-md-6">
								<p class="space-top">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At provident modi nobis dolores ratione, maiores beatae vel iste illo incidunt officia sed id cupiditate quasi excepturi</p>
								<div class="media">
									<div class="media-left pr-20">
										<a href="#">
											<span class="icon circle small default-bg"><i class="icon-eye"></i> </span>
										</a>
									</div>
									<div class="media-body">
										<h4 class="media-heading">Extremely Reliable Products</h4>
										Best in class components results in smooth and reliable product. 
									</div>
								</div>
								<div class="media">
									<div class="media-left pr-20">
										<a href="#">
											<span class="icon circle small default-bg"><i class="icon-trophy"></i> </span>
										</a>
									</div>
									<div class="media-body">
										<h4 class="media-heading">Inbuilt USB Sources</h4>
										Inbuilt USB Source to power up your mobile, USB Speakers etc.
									</div>
								</div>
								<div class="media">
									<div class="media-left pr-20">
										<a href="#">
											<span class="icon circle small default-bg"><i class="icon-lifebuoy"></i> </span>
										</a>
									</div>
									<div class="media-body">
										<h4 class="media-heading">24/7 Support</h4>
										Cras sit amet nibh libero. Nulla vel metus scelerisque.
									</div>
								</div>
								<p><a href="page-services.html" class="btn btn-default-transparent btn-animated">Learn More <i class="fa fa-arrow-right pl-10"></i></a></p>
							</div>
						</div>
					</div>
					<div class="container">
						<div class="row">
							<div class="col-md-6 text-right">
								<p class="space-top">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At provident modi nobis dolores ratione, maiores beatae vel iste illo incidunt officia sed id cupiditate quasi excepturi</p>
								<div class="media">
									<div class="media-body">
										<h4 class="media-heading">Extremely Flexible</h4>
										Cras sit amet nibh libero, in gravida nulla. Sollicitudin.
									</div>
									<div class="media-right pl-20">
										<a href="#">
											<span class="icon circle small default-bg"><i class="icon-eye"></i> </span>
										</a>
									</div>
								</div>
								<div class="media">
									<div class="media-body">
										<h4 class="media-heading">Packed Full Of Features</h4>
										Cras sit amet nibh libero. Nulla vel metus scelerisque.
									</div>
									<div class="media-right pl-20">
										<a href="#">
											<span class="icon circle small default-bg"><i class="icon-trophy"></i> </span>
										</a>
									</div>
								</div>
								<div class="media">
									<div class="media-body">
										<h4 class="media-heading">24/7 Support</h4>
										Cras sit amet nibh libero. Nulla vel metus scelerisque.
									</div>
									<div class="media-right pl-20">
										<a href="#">
											<span class="icon circle small default-bg"><i class="icon-lifebuoy"></i> </span>
										</a>
									</div>
								</div>
								<p><a href="page-services.html" class="btn btn-default-transparent btn-animated">Learn More <i class="fa fa-arrow-right pl-10"></i></a></p>
							</div>
							<div class="col-md-6">
								<img src="images/section-image-2.png" alt="">
							</div>
						</div>
					</div>
				</div>
			</section> -->
	<!-- section end -->


	<!-- footer top start -->
	<!-- ================ -->
	<div class="light-bg boxed default-hovered bordered  footer-top animated-text">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="call-to-action text-center">
						<div class="row">
							<div class="col-sm-8">
								<h2>Waste no more time</h2>
								<h2>Start Planning Your Dream Home with Us</h2>
							</div>
							<div class="col-sm-4">
								<p class="mt-10">
									<a href="#contact"
										class="btn btn-animated btn-lg btn-default-transparent smooth-scroll">Contact
										Us<i class="fa fa-cart-arrow-down pl-20"></i>
									</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- 		<section id="testimonial">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<h2 class="text-center">
							<strong>TEAM</strong>
						</h2>
						<div class="separator"></div>
						<p class="large text-center">Atque ducimus velit, earum
							quidem, iusto dolorem. Ex ipsam totam quas blanditiis, pariatur
							maxime ipsa iste, doloremque neque doloribus, error. Corrupti,
							tenetur.</p>
						<br>
					</div>
				</div>
			</div>
			<div class="owl-carousel content-slider">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<div class="testimonial text-center">
								<div class="testimonial-image">
									<img src="images/testimonial-1.jpg" alt="Pramod" title="Pramod"
										class="img-circle">
								</div>
								<h3>Just Perfect!</h3>
								<div class="separator"></div>
								<div class="testimonial-body">
									<blockquote>
										<p>Sed ut perspiciatis unde omnis iste natu error sit
											voluptatem accusan tium dolore laud antium, totam rem dolor
											sit amet tristique pulvinar, turpis arcu rutrum nunc, ac
											laoreet turpis augue a justo.</p>
									</blockquote>
									<div class="testimonial-info-1">- Pramod</div>
									<div class="testimonial-info-2">Co-founder of Fibologic</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<div class="testimonial text-center">
								<div class="testimonial-image">
									<img src="images/testimonial-2.jpg" alt="Subhra" title="Subhra"
										class="img-circle">
								</div>
								<h3>Amazing!</h3>
								<div class="separator"></div>
								<div class="testimonial-body">
									<blockquote>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing
											elit. Et cupiditate deleniti ratione in. Expedita nemo,
											quisquam, fuga adipisci omnis ad mollitia libero culpa
											nostrum est quia eos esse vel!</p>
									</blockquote>
									<div class="testimonial-info-1">- Subhra</div>
									<div class="testimonial-info-2">Co-founder of Fibologic</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<div class="testimonial text-center">
								<div class="testimonial-image">
									<img src="images/testimonial-1.jpg" alt="Mayur" title="Mayur"
										class="img-circle">
								</div>
								<h3>Zakkas!</h3>
								<div class="separator"></div>
								<div class="testimonial-body">
									<blockquote>
										<p>Sed ut perspiciatis unde omnis iste natu error sit
											voluptatem accusan tium dolore laud antium, totam rem dolor
											sit amet tristique pulvinar, turpis arcu rutrum nunc, ac
											laoreet turpis augue a justo.</p>
									</blockquote>
									<div class="testimonial-info-1">- Mayur</div>
									<div class="testimonial-info-2">Sales</div>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<div class="testimonial text-center">
								<div class="testimonial-image">
									<img src="images/testimonial-1.jpg" alt="Jane Doe"
										title="Jane Doe" class="img-circle">
								</div>
								<h3>Ek Number !</h3>
								<div class="separator"></div>
								<div class="testimonial-body">
									<blockquote>
										<p>Sed ut perspiciatis unde omnis iste natu error sit
											voluptatem accusan tium dolore laud antium, totam rem dolor
											sit amet tristique pulvinar, turpis arcu rutrum nunc, ac
											laoreet turpis augue a justo.</p>
									</blockquote>
									<div class="testimonial-info-1">- Rajendra</div>
									<div class="testimonial-info-2">
										Desig
										</dinerv>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section> -->

	<!-- footer top end -->
	<!-- footer start (Add "dark" class to #footer in order to enable dark footer) -->
	<!-- ================ -->
	<!-- footer start (Add "dark" class to #footer in order to enable dark footer) -->
	<!-- ================ -->
	<footer id="contact" class="clearfix ">

		<!-- .footer start -->
		<!-- ================ -->
		<div class="footer">
			<div class="container">
				<div class="footer-inner">
					<div class="row">
						<div class="col-md-3">
							<div class="footer-content">
								<div id="logo" class="logo-font-modified-very-small" align="left">Fibologic Technology
									Pvt. Ltd.</div>
								<div class="separator"></div>
								<!-- <div class="logo-footer"><img id="logo-footer" src="images/logo_light_blue.png" alt=""></div> -->
								<p>
									FiboLogic is dedicated to help its customers live
									intelligently by providing simple technology for a smarter
									life.
									<!-- <a
											href="page-about.html">Learn More<i
											class="fa fa-long-arrow-right pl-5"></i></a> -->
								</p>
								<div class="separator-2"></div>
								<!-- <nav>
									<ul class="nav nav-pills nav-stacked">
										<li><a target="_blank" href="#">Support</a></li>
										<li><a href="#">Privacy</a></li>
										<li><a href="#">Terms</a></li>
										<li><a href="#">About</a></li>
									</ul>
								</nav> -->
							</div>
						</div>
						<div class="col-md-6">
							<div class="footer-content">
								<h2 class="title">Contact Us</h2>
								<div *ngIf="displayEmailSuccessful" class="alert alert-success hidden"
									id="MessageSent2">
									We have received your message, we will contact you very soon.</div>
								<!-- <div class="alert alert-danger hidden" id="MessageNotSent2">
									Oops! Something went wrong please refresh the page and try
									again.</div> -->
								<form role="form" id="footer-form" class="margin-clear">
									<div class="form-group has-feedback mb-10">
										<label class="sr-only" for="name2">Name</label> <input type="text"
											class="form-control" id="name2" placeholder="Name" name="name2"
											ng-model="ContactQuery.name"> <i
											class="fa fa-user form-control-feedback"></i>
									</div>
									<div class="form-group has-feedback mb-10">
										<label class="sr-only" for="email2">Email address</label> <input type="email"
											class="form-control" id="email2" placeholder="Enter email" name="email2"
											ng-model="ContactQuery.emailId"> <i
											class="fa fa-envelope form-control-feedback"></i>
									</div>
									<div class="form-group has-feedback mb-10">
										<label class="sr-only" for="mobile2">Email Mobile</label>
										<input class="form-control" placeholder="Enter Mobile Number" type='text'
											phone-input ng-model="ContactQuery.mobile" />
										<i class="fa fa-envelope form-control-feedback"></i>
									</div>

									<div class="form-group has-feedback mb-10">
										<label class="sr-only" for="message2">Message</label>
										<textarea class="form-control" rows="4" id="message2" placeholder="Message"
											name="message2" ng-model="ContactQuery.message"></textarea>
										<i class="fa fa-pencil form-control-feedback"></i>
									</div>
									<input type="submit" value="Ok " class="margin-clear submit-button btn btn-default">
								</form>
							</div>
						</div>
						<!-- <div class="col-md-3">
									<div class="footer-content">
										<h2 class="title">Portfolio Gallery</h2>
										<div class="separator-2"></div>
										<div class="row grid-space-10">
											<div class="col-xs-4 col-md-6">
												<div class="overlay-container mb-10">
													<img src="images/gallery-1.jpg" alt="">
													<a href="portfolio-item.html" class="overlay-link small">
														<i class="fa fa-link"></i>
													</a>
												</div>
											</div>
											<div class="col-xs-4 col-md-6">
												<div class="overlay-container mb-10">
													<img src="images/gallery-2.jpg" alt="">
													<a href="portfolio-item.html" class="overlay-link small">
														<i class="fa fa-link"></i>
													</a>
												</div>
											</div>
											<div class="col-xs-4 col-md-6">
												<div class="overlay-container mb-10">
													<img src="images/gallery-3.jpg" alt="">
													<a href="portfolio-item.html" class="overlay-link small">
														<i class="fa fa-link"></i>
													</a>
												</div>
											</div>
											<div class="col-xs-4 col-md-6">
												<div class="overlay-container mb-10">
													<img src="images/gallery-4.jpg" alt="">
													<a href="portfolio-item.html" class="overlay-link small">
														<i class="fa fa-link"></i>
													</a>
												</div>
											</div>
											<div class="col-xs-4 col-md-6">
												<div class="overlay-container mb-10">
													<img src="images/gallery-5.jpg" alt="">
													<a href="portfolio-item.html" class="overlay-link small">
														<i class="fa fa-link"></i>
													</a>
												</div>
											</div>
											<div class="col-xs-4 col-md-6">
												<div class="overlay-container mb-10">
													<img src="images/gallery-6.jpg" alt="">
													<a href="portfolio-item.html" class="overlay-link small">
														<i class="fa fa-link"></i>
													</a>
												</div>
											</div>
										</div>
										<div class="text-right space-top">
											<a href="portfolio-grid-2-3-col.html" class="link-dark"><i class="fa fa-plus-circle pl-5 pr-5"></i>More</a>	
										</div>
									</div>
								</div> -->
						<div class="col-md-3">
							<div class="footer-content">
								<h2 class="title">Connect Us @</h2>
								<div class="separator-2"></div>
								<!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium odio voluptatem necessitatibus illo vel dolorum soluta.</p> -->
								<ul class="social-links circle animated-effect-1">
									<li class="facebook"><a target="_blank" href="http://www.facebook.com/fibologic/"><i
												class="fa fa-facebook"></i></a></li>
									<li class="Instagram"><a target="_blank"
											href="http://www.instagram.com/fibologic"><i
												class="fa fa-instagram"></i></a></li>
									<li class="twitter"><a target="_blank" href="http://www.twitter.com/fibologic/"><i
												class="fa fa-twitter"></i></a></li>
								</ul>
								<div class="separator-2"></div>
								<ul class="list-icons">
									<li><i class="fa fa-map-marker pr-10 text-default"></i>
										Manjiri Greens, Phase II, Hadpsar, Pune, Maharashtra - 411028</li>
									<li><i class="fa fa-phone pr-10 text-default"></i> +91 87 70 186261</li>
									<li><i class="fa fa-phone pr-10 text-default"></i> +91 95 79 629971</li>
									<li><a href="mailto:info@fibologic.com"><i
												class="fa fa-envelope-o pr-10"></i>info@fibologic.com</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- .footer end -->

		<!-- .subfooter start -->
		<!-- ================ -->
		<div class="subfooter">
			<div class="container">
				<div class="subfooter-inner">
					<div class="row">
						<div class="col-md-12">
							<p class="text-center">Copyright @ 2015 Fibologic Tecnology Pvt. Ltd.
								All Rights Reserved</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- .subfooter end -->

	</footer>
	<!-- footer end -->

	</div>
	<!-- page-wrapper end -->

	<!-- JavaScript files placed at the end of the document so the pages load faster -->
	<!-- ================================================== -->
	<!-- Jquery and Bootstap core js files -->
	<script type="text/javascript" src="plugins/jquery.min.js"></script>
	<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>

	<!-- Modernizr javascript -->
	<script type="text/javascript" src="plugins/modernizr.js"></script>

	<!-- jQuery Revolution Slider  -->
	<script type="text/javascript" src="plugins/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
	<script type="text/javascript" src="plugins/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

	<!-- Isotope javascript -->
	<script type="text/javascript" src="plugins/isotope/isotope.pkgd.min.js"></script>

	<!-- Magnific Popup javascript -->
	<script type="text/javascript" src="plugins/magnific-popup/jquery.magnific-popup.min.js"></script>

	<!-- Appear javascript -->
	<script type="text/javascript" src="plugins/waypoints/jquery.waypoints.min.js"></script>

	<!-- Count To javascript -->
	<script type="text/javascript" src="plugins/jquery.countTo.js"></script>

	<!-- Parallax javascript -->
	<script src="plugins/jquery.parallax-1.1.3.js"></script>

	<!-- Contact form -->
	<script src="plugins/jquery.validate.js"></script>

	<!-- Background Video -->
	<script src="plugins/vide/jquery.vide.js"></script>

	<!-- Owl carousel javascript -->
	<script type="text/javascript" src="plugins/owl-carousel/owl.carousel.js"></script>

	<!-- SmoothScroll javascript -->
	<script type="text/javascript" src="plugins/jquery.browser.js"></script>
	<script type="text/javascript" src="plugins/SmoothScroll.js"></script>

	<!-- Initialization of Plugins -->
	<script type="text/javascript" src="js/template.js"></script>

	<!-- Custom Scripts -->
	<script type="text/javascript" src="js/custom.js"></script>
	<script type="text/javascript" src="angular/angular.js"></script>
	<script type="text/javascript" src="controllers/mainController.js"></script>

</body>

</html>